<!-- views/blogs-show.handlebars -->

<h1>{{blog.title}}</h1>
<h2>{{blog.blogTitle}}</h2>
<p>{{blog.description}}</p>
<p>{{blog.dropDown}}</p>

<div class="nice-buttons">
<p>
    <form method="GET" action="/blogs/view/{{blog._id}}/edit">
        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
    </form>
</p>

<!--Delete Button-->
<p>
    <form method="POST" action="/blogs/view/{{blog._id}}?_method=DELETE">
        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
    </form>
</p>
</div>


<style>
.nice-buttons > p{


}

</style>
