<!-- views/blogs-show.handlebars -->
<h1>{{blog.title}}</h1>
<h2>{{blog.blogTitle}}</h2>
<p>{{blog.description}}</p>
<p>{{blog.dropDown}}</p>
<a href="/blogs/view/{{blog._id}}/edit">Edit</a><br>
<a href="/"> Home </a>
